.parameters-line {
    margin-bottom: 20px;
    display: flex;
}
.dropbtn {
    background-color:  rgb(143, 107, 141);
    box-shadow: inset 2px 2px 5px rgb(248, 221, 248);
    text-shadow: 2px 2px 5px #624949, 0 0 1.2em rgb(166, 166, 165), 0 0 0.4em rgb(143, 107, 141) ;
    border-radius: 5px;
    color: white;
    font-family: 'Jost', sans-serif;
    padding: 12px;
    font-size: 14px;
    border: none;
    margin-bottom: 5px;
    width: 162px;
  }
  
  .dropbtn:hover {
    box-shadow: 2px 2px 5px #624949, 0 0 1.2em rgb(166, 166, 165), 0 0 0.4em rgb(143, 107, 141) ;
    cursor: pointer;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color:   rgba(143, 107, 141, 0.795);
    min-width: 162px;
    padding: 5px;
    z-index: 1;
    border-radius: 5px;
  }

  .dropdown-content a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    font-size: 14px;
    
  }
.dropdown:hover .dropdown-content {display: block;}

.search {
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    flex-grow: 1;
}
.search__input {
    border: 2px solid  rgb(143, 107, 141);
    border-radius: 5px;
    background-color: #edf2f2;
    color: #624949;
    font-family: 'Jost', sans-serif;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 5px;
    width: 97%;
    z-index: 2;

}
.search__input:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
} 

.search__btn {
    display: block;
    position: absolute;
    left: 530px;
    top: 5px;
    z-index: 2;
    background-image: url(../../img/search.png);
    background-size: 85%;
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    height: 34px;
    border: none;
    cursor: pointer;

}
.reset__btn {
    display: inline-block;
    position: absolute;
    left: 480px;
    top: 5px;
    z-index: 2;
    background-image: url(../../img/delete.png);
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    height: 34px;
    border: none;
    cursor: pointer;

}
.search__label {
    display: block;
    text-align: right;
    font-family: 'Oswald', sans-serif;
    color:#624949;

}

.cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 10px;
    width: 100%;
}
.noproducts{
    width: 100%;
    height: 1000px;
    margin-top: -150px;
    background-size:contain;
    background-repeat: no-repeat;
    background-image: url(../../img/404-nothing-found.jpg);
}
.card {
    height: auto;
    background-color:  rgb(248, 221, 248);
    border:3px solid rgb(248, 221, 248);
    border-radius: 6px;
    cursor: pointer;
}
.card:hover {
    border: 3px solid #929090;
    opacity: 0.8;
    box-shadow: 2px 2px 5px #624949, 0 0 1.2em rgb(166, 166, 165), 0 0 0.4em rgb(143, 107, 141) ;
}
.thumbnail {
    background-size: 90%;
    height: 200px;
    background-repeat: no-repeat; 
    background-position: center;
    
}
h2, h3 {
    font-family: 'Jost', sans-serif;
    color:#003f34;
    font-size: 16px;
    text-shadow: 2px 2px 5px #624949, 0 0 1.2em rgb(166, 166, 165), 0 0 0.4em rgb(143, 107, 141) ;
    text-align: center;
    height: 44px;
}
.size {
    font-family: 'Oswald', sans-serif;
    color:#624949;
    margin: 10px 0;
    text-align: center;
}  
.select-size {
    background-color:  rgb(166, 166, 165);
    box-shadow: inset 2px 2px 5px rgb(248, 221, 248);
    text-shadow: 2px 2px 5px #624949, 0 0 1.2em rgb(166, 166, 165), 0 0 0.4em rgb(143, 107, 141) ;
    border-radius: 2px;
    color: #fff;
    font-family: 'Jost', sans-serif;
    padding: 4px;
    font-size: 14px;
    border: none;
    width: 45px;
    height: auto;
    cursor: pointer;
} 
.select-size:hover, .select-size_active {
    background-color:   rgb(143, 107, 141) ;
}
.price {
    font-family: 'Jost', sans-serif;
    color:#003f34;
    font-size: 20px;
    font-weight: bold;
    text-align: center; 
}
.cart__btn {
    margin-left: 10px;
    width: 60px;
    height:60px;
    display: inline-block;
    background-image: url(../../img/cart.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
.cart__btn:hover {
    background-image: url(../../img/cart-active.png);
}
.cart__btn_active {
    background-image: url(../../img/cart-active.png);
}
.favourite__btn {
    margin-left: 0;
    width: 60px;
    height:60px;
    display: inline-block;
    background-image: url(../../img/favourite.png);
    background-size: 95%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
.favourite__btn:hover {
    background-image: url(../../img/favourite-active.png);
}
.favourite__btn_active {
    background-image: url(../../img/favourite-active.png);
}

#dots-big, #dots-small{
    margin-left: 10px;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 45px;
    height: 45px;
    border: none;
    cursor: pointer;

}
#dots-big{
    background-image: url(../../img/dots-big.jpg);
}
#dots-small{
    background-image: url(../../img/dots-small.jpg);
}

.dots_active{
    box-shadow: 2px 2px 5px #624949, 0 0 1.2em rgb(166, 166, 165), 0 0 0.4em rgb(143, 107, 141) ;
}
.small {
    grid-template-columns: repeat(6, 1fr);
    height: 120px;
}
.small-text {
    font-size: 0.7em;
    margin-top: 0;
}
.small-text-h2 {
    font-size: 0.8em;
    height: 60px;
}
.small-text-price {
    font-size: 0.8em;
}
.small-btn {
    width: 40px;
    height: 40px;
    font-size: 60px;
}
.small-btn-select {
    width: 25px;
    font-size: 10px;
}
.none {
    display:none;
}
